# Archivos y carpetas generadas automáticamente
build/
!docs/
!docs/**
*.js
*.mjs
*.map
*.wasm
*.class
*.jar
*.log
*.tmp
*.lock
node_modules/
.idea/
.gradle/
kotlin-js-store/
# Archivos específicos de la app
composeApp.mjs
composeApp.js
composeApp.uninstantiated.mjs
composeApp.wasm
composeApp.wasm.map
skiko.js
skiko.mjs
skiko.wasm
skikod8.mjs
# Archivos de configuración de entorno
.env
# Archivos de sistema
.DS_Store
Thumbs.db
